USE [master]
GO
/****** Object:  Database [Inventario]    Script Date: 27/07/2022 1:31:48 ******/
CREATE DATABASE [Inventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Inventario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventario]
GO
/****** Object:  Table [dbo].[Escritorios]    Script Date: 27/07/2022 1:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escritorios](
	[Modelo] [nvarchar](50) NOT NULL,
	[MetrosCuadrados] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monitores]    Script Date: 27/07/2022 1:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitores](
	[Pulgadas] [int] NOT NULL,
	[Hz] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mouses]    Script Date: 27/07/2022 1:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mouses](
	[Dpi] [int] NOT NULL,
	[Peso] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Escritorios] ([Modelo], [MetrosCuadrados]) VALUES (N'3', 3)
INSERT [dbo].[Escritorios] ([Modelo], [MetrosCuadrados]) VALUES (N'4', 4)
GO
USE [master]
GO
